.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
  }
  
  .signupBox {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    height: 400px;
  }
  
  .h1 {
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .input {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #0070f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fstock.adobe.com%2Fsearch%3Fk%3Dlogin%2Bbackground%2Bimages&psig=AOvVaw1YyXirBndr5pgzCPLUrYLA&ust=1686509361141000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCODlkoyvuf8CFQAAAAAdAAAAABAE'); /* Replace with your background image URL */
    background-size: cover;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #0070f3;
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .navbarList {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
  }
  
  .navbarList li button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  .navbarList li button:hover {
    text-decoration: underline;
  }
  
  .loginBox {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    height: 400px;
  }
  
  .h1 {
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .input {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #0070f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }